<legend>Join The Winning Team</legend>
<div> 
Nefertiti Marine seeks people who have an entrepreneurial spirit and share our philosophy for success. Hands-on training, a clean and safe work enviroment, quality business practices, advancement opportunities and meaningful work combined to produce not only the best marine shipping services, but also the best team members!<br><br>
<div class="well well-small" style="font-size:17px;">
Please send your C.V. to: <a href="mailto:nefertitimarine@hotmail.com">nefertitimarine@hotmail.com</a>
</div>
</div>