<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
      <img alt="World Map" title="World Map" height="133" src="/assets/map2.png" width="203">
    </div>
    <div class="span9">
      Our company was established in 1975 and its First name was NEFERTITI MARINE WORKS. We had at that time a service boat inside the harbor and in 1980 we added a small tug boat. 
<br><br>
In 1987 we added tourism yachts in HURGADA in the RED SEA, in 1990 we added petroleum service,  in 1995 We added some tug motor boats  Also supply motor boats and it deals with all the companies which Work in the petroleum field. In 1997 the company name was changed to: "NEFERTITI MARINE SERVICE CO.", governed by investment law and it is working under the free zone systems and in 2000 we established a new branch in (Rosetta) as a shipyard so now we build our ships there, before that We built our vessels in different ship-yards but under our supervision and by our workers. 
<br><br>
We continued developing to have three main activities nowadays which are Off-shore services and support, Recreational Diving. The latest development is Boat Building and we are considered a leading company in providing recreational diving boats in the Red Sea.
    </div>
  </div>
</div>

