<legend>CV</legend>
<h4>FIRST: THE MARITIME SERVICES AND SUPPLY VESSELS AND PLATFORMS:</h4>
<ul>
	<li>The towage and rescue operations.</li>
<li>Services and supply ships.</li>
<li>Provide assistance to the marine platforms.</li>
<li>Renting tug boats of power ranging from 250 to 7400 hp.</li>
<li>Renting barges of capacity from 300 tons to 850 tons.</li>
<li>Maintenance of marine units.</li>
<li>Installation and maintenance of freight buoys and guidance.</li>
</ul>

<h4>SECOND: SURFACE PREPARATION PAINTING, LINING AND THERMAL INSULATION:</h4>
<ul>
<li>Sand blasting and painting for marine units and cranes.</li>
<li>Sand blasting and painting for production equipments of petrochemical Laboratory and storage tanks.</li>
<li>Lining for the bottom panels and sides of the storage tanks of oil.</li>
<li>Thermal insulation of hot and cold.</li>
<li>Lining, paint products, petroleum pipelines buried insulation and glass wool.</li>
<li>Renting cranes and fork lift.</li>
</ul>