<legend>Engy-K</legend>
<div class="container-fluid">
	<div class="row-fluid">
<div class="span6"><img src="/assets/engy002.jpg"></div>
<div class="span6"><img src="/assets/engy pic 2.jpg"></div>
</div>
</div>
<br>
<p><strong><span style="text-decoration: underline;">* MAIN SPECIFICATION</span></strong></p>
<table border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top" width="343">
<p align="left">Built</p>
</td>
<td valign="top" width="276">
<p align="left">1999</p>
</td>
</tr>
<tr>
<td valign="top" width="343">
<p align="left">L.O.A (Including Push Bow)</p>
</td>
<td valign="top" width="276">
<p align="left">18.65 M</p>
</td>
</tr>
<tr>
<td valign="top" width="343">
<p align="left">Beam Over All</p>
</td>
<td valign="top" width="276">
<p align="left">4.37&nbsp;&nbsp; M</p>
</td>
</tr>
<tr>
<td valign="top" width="343">
<p align="left">Max. Loading Draft</p>
</td>
<td valign="top" width="276">
<p align="left">1.70&nbsp;&nbsp; M</p>
</td>
</tr>
<tr>
<td valign="top" width="343">
<p align="left">Clear Deck Space</p>
</td>
<td valign="top" width="276">
<p align="left">39.30 M2</p>
</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
<p><strong><span style="text-decoration: underline;">* Machinery</span></strong></p>
<table border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top" width="343">
<p>Main Engine's   Man 2 × 280 H.P With Total</p>
</td>
<td valign="top" width="276">
<p align="left">560 H.P</p>
</td>
</tr>
<tr>
<td valign="top" width="343">
<p align="left">Max Running Speed</p>
</td>
<td valign="top" width="276">
<p align="left">11 KTS</p>
</td>
</tr>
<tr>
<td valign="top" width="343">
<p>Economic   Speed</p>
</td>
<td valign="top" width="276">
<p align="left">9 KTS</p>
</td>
</tr>
<tr>
<td valign="top" width="343">
<p>Main   Engine Generator AC Supply With K.A.V.</p>
</td>
<td valign="top" width="276">
<p align="left">15</p>
</td>
</tr>
<tr>
<td valign="top" width="343">
<p>Main   Engine Bilge Pump &amp; Fire Fighting System</p>
</td>
<td valign="top" width="276">
<p align="left">&nbsp;</p>
</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
<p><strong><span style="text-decoration: underline;">* Capacities</span></strong></p>
<table border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top" width="343">
<p>Diesel Oil</p>
</td>
<td valign="top" width="276">
<p>9&nbsp;&nbsp;&nbsp; TONS</p>
</td>
</tr>
<tr>
<td valign="top" width="343">
<p>Potable Water</p>
</td>
<td valign="top" width="276">
<p>3&nbsp;&nbsp;&nbsp; TONS</p>
</td>
</tr>
<tr>
<td valign="top" width="343">
<p>Antipollution   Dispersant Chemicals</p>
</td>
<td valign="top" width="276">
<p align="left">2.2 TONS</p>
</td>
</tr>
</tbody>
</table>
<p><strong><span style="text-decoration: underline;">* Anti Pollution System</span></strong></p>
<table border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top" width="619">
<p>Two Booms Equipped With Adequate   Nozzles To Perform At Least 10 % Of Dispersant Concentration Each Boom Is   Located At One Side Of The Boat Booms Length 5 M Each.</p>
</td>
</tr>
</tbody>
</table>
<p><strong><span style="text-decoration: underline;">* Navigation Equipment</span></strong></p>
<table border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top" width="343">
<p align="left">Magnetic Compass</p>
</td>
<td valign="top" width="276">
<p align="left">&nbsp;</p>
</td>
</tr>
<tr>
<td valign="top" width="343">
<p>Radar (24 Miles)</p>
</td>
<td valign="top" width="276">
<p align="left">&nbsp;</p>
</td>
</tr>
<tr>
<td valign="top" width="343">
<p>Echo-sounder</p>
</td>
<td valign="top" width="276">
<p align="left">&nbsp;</p>
</td>
</tr>
<tr>
<td valign="top" width="343">
<p>VHF Sail OR</p>
</td>
<td valign="top" width="276">
<p align="left">&nbsp;</p>
</td>
</tr>
<tr>
<td valign="top" width="343">
<p>2 × Search Light (front And Aft)</p>
</td>
<td valign="top" width="276">
<p align="left">&nbsp;</p>
</td>
</tr>
</tbody>
</table>
<p align="left"><strong><span style="text-decoration: underline;">* Safety Equipment</span></strong></p>
<table border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top" width="343">
<p align="left">Life Raft</p>
</td>
<td valign="top" width="276">
<p>15 Persons</p>
</td>
</tr>
<tr>
<td valign="top" width="343">
<p>Life Jacket</p>
</td>
<td valign="top" width="276">
<p>25 Units</p>
</td>
</tr>
<tr>
<td valign="top" width="343">
<p>Life Buoy</p>
</td>
<td valign="top" width="276">
<p>2&nbsp;&nbsp; Units</p>
</td>
</tr>
<tr>
<td valign="top" width="343">
<p>Fire Fighting System</p>
</td>
<td valign="top" width="276">
<p>&nbsp;</p>
</td>
</tr>
</tbody>
</table>
<p><strong><span style="text-decoration: underline;">* Accommodation </span></strong></p>
<table border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top" width="343">
<p>Seated   Accommodation</p>
</td>
<td valign="top" width="276">
<p>10 Persons</p>
</td>
</tr>
</tbody>
</table>
<p><strong><span style="text-decoration: underline;">* Offered boats crew</span></strong></p>
<table border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top" width="343">
<p align="left">One Certified Bosun</p>
</td>
<td valign="top" width="276">
<p>&nbsp;</p>
</td>
</tr>
<tr>
<td valign="top" width="343">
<p>One Mechanic Sailor</p>
</td>
<td valign="top" width="276">
<p>&nbsp;</p>
</td>
</tr>
<tr>
<td valign="top" width="343">
<p>One Sailor</p>
</td>
<td valign="top" width="276">
<p>&nbsp;</p>
</td>
</tr>
</tbody>
</table>