<legend>Ezz El Karim</legend>
<h4><strong>1700 BHP Tug Supply Vessel</strong> </h4>
<ul>
	<li>Flag : Egypt</li>
	<li>Built : 2001, Alexandria</li>
	<li>Call Sign : 6 ABS</li>
	<li> Length Overall : 30 m</li>
	<li> Beam : 6.8 in</li>
	<li> Depth : 3.3 m</li>
	<li> M.Draft : 2.4m</li>
	<li> Max Draft : 3.3 m</li>
</ul>
<strong>Capacities</strong>
<ul>
	<li>Diesel Oil : 44 m3</li>
 <li>Fresh Water : 30 m3</li>
  <li>Deck Cargo : 30 Tons</li>
   <li>Deck Area : 95 m2</li>
    <li>Accommodation : 10 Pax</li>
     <li>Seated Accommodation : 20 Pax</li>
      <li>Dispersant Chemicals : 2 Tons</li>
 </ul>      
<strong>Transfer Rates</strong> 
<ul>
<li>Fuel : 45 m3 /hr @ 40M Head</li>
 <li>Fresh Water : 45 m3 / hr @404/1 Head </li>
</ul>
<strong>Machinery</strong>
<ul> 
	<li>Main Engines: 2X GM rated 850 bhp each</li>
	<li> Generators: 2X Perkins 40 kw</li>
	<li> Propellers: Twin Scre convincial with kort nozel</li>
	</ul>
<strong>Performance</strong>
<ul>
 <li>Fuel Consumption: 11 kts@3tons/day or 10 kts@2.2tons/day</li>
 <li>Bollard Pull: 16 tons</li>
 <li> Economic Speed: 10 kts</li>
</ul>
<strong>Deck Equipments</strong>
<ul> 
<li>Tadano Crane S.W.L 2 tons</li>
<li> Winch 5 tons</li>
<li> Pull 2 Stockless Anchors</li> 
</ul>
<strong>Fire Fighting/Safety</strong>
<ul>
	Fire Pump: <br>
	<li> One 360m3 / hr Capacity @ 90 in Head Driven By Deutz Engine & Connected 7b 4 inch Monitor</li>
		<li>One 2- Pump 801713 / hr Capacity @ 45m Head Safety Equipments In Accordance With SOLAS & Flag Requirments</li>
	</ul>
<strong>Navigation / Communications</strong> 
<li>JRC Ruder 48 mile</li><li> Furuno Echo Sounder 300m</li> <li> furuno GPS Navigator</li><li> Magnetic Compass</li><li> 2 X Icom VHF S.S.B</li> <li> 2 X VHF Hand Help</li> 