<legend>Moamen El Karim</legend>
<div><p align="center"><img src="/assets/Moamen.jpg"></p>
	<br>
<p style="text-align: left;" dir="ltr"><strong>*<span style="text-decoration: underline;">PARTICULAR</span></strong></p>
<table style="width: 387px; text-align: left;" dir="rtl" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td dir="ltr" width="149">
<p>Egypt</p>
</td>
<td width="238">
<p dir="ltr">Flag</p>
</td>
</tr>
<tr>
<td width="149">
<p dir="ltr">2004 Alexandria</p>
</td>
<td width="238">
<p dir="ltr">Built</p>
</td>
</tr>
<tr>
<td width="149">
<p dir="ltr">19 m</p>
</td>
<td width="238">
<p dir="ltr">Length   Overall</p>
</td>
</tr>
<tr>
<td width="149">
<p dir="ltr">5.5 m</p>
</td>
<td width="238">
<p dir="ltr">Beam</p>
</td>
</tr>
<tr>
<td width="149">
<p dir="ltr">1.8 m</p>
</td>
<td width="238">
<p dir="ltr">Depth</p>
</td>
</tr>
<tr>
<td width="149">
<p dir="ltr">2.2 m</p>
</td>
<td width="238">
<p dir="ltr">Draft</p>
</td>
</tr>
</tbody>
</table>
<table style="width: 634px; text-align: left;" dir="rtl" border="1" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td width="406">
<p dir="ltr">20 m3</p>
</td>
<td width="228">
<p dir="ltr">Diesel Oil</p>
</td>
</tr>
<tr>
<td width="406">
<p dir="ltr">7&nbsp; m3</p>
</td>
<td width="228">
<p dir="ltr">Fresh Water</p>
</td>
</tr>
<tr>
<td width="406">
<p dir="ltr">10 Tons</p>
</td>
<td width="228">
<p dir="ltr">Deck Cargo</p>
</td>
</tr>
<tr>
<td width="406">
<p dir="ltr">50 m2</p>
</td>
<td width="228">
<p dir="ltr">Deck Area</p>
</td>
</tr>
<tr>
<td width="406">
<p dir="ltr">10 Pax</p>
</td>
<td width="228">
<p dir="ltr">Accommodation</p>
</td>
</tr>
<tr>
<td valign="top" width="406">
<p dir="ltr">30 Pax</p>
</td>
<td valign="top" width="228">
<p dir="ltr">Seated Accommodation</p>
</td>
</tr>
<tr>
<td valign="top" width="406">
<p dir="ltr">2 Tons</p>
</td>
<td valign="top" width="228">
<p dir="ltr">Dispersant   chemicals</p>
</td>
</tr>
</tbody>
</table>
<p style="text-align: left;">&nbsp;</p>
<p style="text-align: left;"><strong>*<span style="text-decoration: underline;">Transfer Rates</span></strong></p>
<table style="width: 647px; text-align: left;" dir="rtl" border="1" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td width="491">
<p dir="ltr">8 m 3 / hr @ 10 m   head</p>
</td>
<td width="131">
<p dir="ltr">Fuel</p>
</td>
<td width="25">
<p dir="ltr">&nbsp;</p>
</td>
</tr>
</tbody>
</table>
<br>
<p style="text-align: left;"><strong>*<span style="text-decoration: underline;">Machinery</span></strong></p>
<table style="width: 645px; text-align: left;" dir="rtl" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top" width="489">
<p dir="ltr">2   ×Cat 520 HP each</p>
</td>
<td width="156">
<p dir="ltr">Main   Engines</p>
</td>
</tr>
<tr>
<td valign="top" width="489">
<p dir="ltr">Perkins   20 KW</p>
</td>
<td width="156">
<p dir="ltr">Generators</p>
</td>
</tr>
<tr>
<td valign="top" width="489">
<p dir="ltr">Twin   Screw Conventional</p>
</td>
<td width="156">
<p dir="ltr">Propellers</p>
</td>
</tr>
</tbody>
</table>
<br>
<p style="text-align: left;"><strong>*<span style="text-decoration: underline;">Performance </span></strong></p>
<table style="width: 648px; text-align: left;" dir="rtl" border="1" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td width="429">
<p dir="ltr">2.5 Tons / Day @   11 Kts</p>
</td>
<td width="219">
<p dir="ltr">Fuel Consumption</p>
</td>
</tr>
<tr>
<td width="429">
<p dir="ltr">2.2 Tons / Day @ 11 Kts</p>
</td>
<td width="219">
<p dir="ltr">&nbsp;</p>
</td>
</tr>
<tr>
<td width="429">
<p dir="ltr">14 Tons</p>
</td>
<td width="219">
<p dir="ltr">Bollard   Pull</p>
</td>
</tr>
<tr>
<td width="429">
<p dir="ltr">10 Kts</p>
</td>
<td width="219">
<p dir="ltr">Economic   Speed</p>
</td>
</tr>
</tbody>
</table>
<br>
<p style="text-align: left;"><strong>*<span style="text-decoration: underline;">Navigation / Communication</span></strong></p>
<table style="width: 335px; text-align: left;" dir="rtl" border="1" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td width="335">
<p dir="ltr">JRC Radar 24   mile</p>
</td>
</tr>
<tr>
<td width="335">
<p dir="ltr">Navman Echo   Sounder 300 m</p>
</td>
</tr>
<tr>
<td width="335">
<p dir="ltr">Furuno GPS   Navigator</p>
</td>
</tr>
<tr>
<td width="335">
<p>Magnetic Compass</p>
</td>
</tr>
<tr>
<td width="335">
<p dir="ltr">JRC VHF S.S.B</p>
</td>
</tr>
</tbody>
</table>
<br>
<p>Safety Equipments In Accordance To SOLAS &amp; Flag Requirements.</p></div>