<legend>Moustafa El Karim</legend>
<p align="center"><img src="/assets/moustafa pic2.jpg"></p>
<br><br>
<strong>CAPACITIES</strong>
<ul>
<li>FUEL OIL: 10 Tons </li>
<li>POTABLE WATER: 4 Tons</li>
<li>ANTI POLLUTION DISPERSANT CHEMICALS: 2 Tons</li>
</ul>
<strong>ANTI POLLUTION SYSTEM</strong>
<ul> TWO BOOMS EQUIPPED WITH ADEQUATE NOZZLES TO PERFORM AT LEAST 10% OF DISPERSANT CONCENTRATION EACH BOOM IS LOCATED AT ONE SIDE OF THE BOAT BOOMS LENGTH 6 M EACH. LENGTH OF SPRAY PAR 4 M EACH. </ul>
<strong>NAVIGATION EQUIPMENT</strong>
<ul>
	<li>MAGNETIC COMPASS.</li>
	<li>COMPASS.</li>
	<li>RADAR ( 24 MILLES ).</li>
	<li>ECHSOUNDER.</li>
	<li>VHF SAILOR.</li>
	<li>2 X SEARCH LICHT ( FRONT AND AFT)</li>
	<li>GPS.</li>
	</ul>
	<strong>SAFETY EQUIPMENT</strong>
	<ul>
		<li>LIFE RAFT: 15 PERSONS</li>
		<li>LIFEJACKET: 25 UNITS</li>
		<li>LIFE BOUY: 2 UNITS</li>
		<li>FIRE FITTING SYSTEM.</li> 
</ul>
<strong>ACCOMODATION</strong>
<ul>SEATED ACCOMODATION: 15 PERSONS</ul>
<strong>OFFERED BOATS CREW</strong>
<ul>
<li>ONE CERTIFIED BOSUN.</li>
<li>ONE MECHANIC SAILOR.</li>
<li>TWO SAILORS</li>
</ul>
