<legend>Nader El Karim</legend>
<div>
<div class="HeadCell2">Main particulars</div>
<ul class="SubMenu">
<li>2250 B.H.P</li>
<li>L.O.A 35M </li>
<li>Breadth 7.5m </li>
<li>Built 2011</li>
<li>Max draft 2.5m </li>
<li>Clear deck space 120 m² </li>
<li>Deck cargo 52 tons </li>
<li>Speed 10 – 15 Kts </li>
<li>Tank capacity :  			<br> - 100 tons Diesel  			<br> - 60  tons fresh water </li>
</ul>
<br><br style="height: 10px; line-height: 10px;">
<div class="HeadCell2">Communications</div>
<br style="height: 10px; line-height: 10px;"> 
<ul class="SubMenu">
<li>2 fixed V.H.F radio </li>
<li>3 potable V.H.F radio (walky talky ) </li>
<li>2 GPS chart plotter </li>
<li>Radar </li>
<li>Echo sounder </li>
<li>Magnetic compass </li>
<li>A.I.S</li>
</ul>
<br><br style="height: 10px; line-height: 10px;">
<div class="HeadCell2">Machinery &amp; propulsion</div>
<br style="height: 10px; line-height: 10px;"> 
<ul class="SubMenu">
<li>Main engine: " 3 GM Detroit diesel 750 Bhp per each" </li>
<li>Triple screw</li>
<li>2 Generators </li>
<li>Fire fighting pump </li>
<li>Fuel transfer pump </li>
<li>Water transfer pump </li>
<li>Side crane 3 tons </li>
<li>A.H windlass winch </li>
</ul>
<br><br style="height: 10px; line-height: 10px;">
<div class="HeadCell2">Accommodation</div>
<br style="height: 10px; line-height: 10px;"> 
<ul class="SubMenu">
<li>60 seated persons</li>
<li>Boat is fully Air conditioned </li>
<li>Kitchen &amp; Dining room </li>
<li>3 Bath rooms</li>
<li>T.V LCD with DVD reader &amp; surround system</li>
</ul>
</div>