<legend>Osa Viscount-K</legend>
<img src="/assets/Osa.jpg">
<br><br>
<strong>Characteristics </strong>
<ul>
<li> Overall length: 64.50 M</li>
<li> Beam: 13.82 M</li>
<li> Depth: 690 M</li>
<li> Light Draft: 3.28 M</li>
<li> Maximum Draft: 5.91 M</li>
<li> Free board: 0.99 M</li>
<li> Displacement at Maximum Draft: 2374.1 MT</li>
<li> Deadweight: 1887.0 MT</li>
<li> Clear Deck Space: 38 x 11 M</li>
<li> Deck Strength: 5.0 MT/m2</li>
</ul>
<strong>Capacities</strong> 
<ul>
	<li>Deck Cargo: 740.0 MT</li>
	<li>Fresh Water: 816.0 MT</li>
	<li> Fuel Oil: 1034.3 MT</li> 
	<li>Potable Water: 254.9 MT</li>
	<li>Bulk Tanks ( 4 ): 169.9 Cu.M</li>
	<li>Liquid Mud ( 17 Lbs / Gal): 343.0 Cu.M</li>
	<li>Walk -In Cooler: 5.0 Cu.M</li>
	<li>Walk -In Freezer: 8.0 Cu.M</li>
</ul>
<strong>Machinery</strong>
<ul> 
	<li>Main Engines: MAK 9M453, 8160BHP</li>
	<li> Propellers: Ulstein CPP</li>
	<li>  Generations: 640KW; 440V; 60Hz </li>
	<li>  Driven By: Main Engine</li>
	<li>  Generations: 244 KW; 440V; 60 Hz</li>
	<li>  Bow Thruster: Yes</li>
	<li> Driven By: 680 BHP</li>  
		<li>Thrust: 8.65t 7.7 MT</li>
</ul>
<strong>Performance</strong>
<ul> 
Speed vs Fuel Consumption (Assuming Fair Weather):
<li> Maximum: about 15 Knots 271 GPH </li> 
<li>Cruising: about 12 Knots 153 GPH</li>
<li>   Economical: about 10 Knots 103 GPH</li>
<li>  Range@12 Knots:  about 12.101 Nautical Miles</li>
<li>  Bollard Pull:  110.0 100.0MT</li>
  Transfer Rates:
  <li> Fresh Water Fuel Oil: 706 GPM @ 262 Ft - 160 MT/Hr @ 80 M</li>
  <li> Potable Oil: 442 GPM @ 262 Ft - 100 MT/Hr @ 80M</li>
  <li>  Fual Oil: 700 GPM @ 262 Ft - 135 MT/Hr @ 80M</li>
  <li>   Bulk Tanks: 20 GPM @ 197 Ft - 55 MT/Hr @ 80 M</li>
  <li>   Liquid Mud (17 Lbs/Gol): 220 GPM @ 260 Ft - 100 MT/Hr @ 80M</li>
</ul> 
<strong>Towing / Anchor Handling</strong>
<ul>
	<li>Winch: Double Drum Waterfall</li>
	<li>Line Pull:  500.000 Lbs @ 0 FPM </li>
	<li>  Capacity (per drum): 4.590 Ft of 2.5 Inch </li>
	<li> Storage Reels: Yes</li>
	<li>   Capacity: 3.280 Ft x 2.2 Inch</li>
	<li>  Tuggers: Yes </li>
	<li>  Line Pull: 22.000 Lbs </li>
	<li>  Stern Roller: 6.5 Ft x 11.8Ft </li>
	<li>  Safe Work Load: 330 ST </li>
	<li> Wildcats: Yes </li>
	<li>  Shark Jaw: Karm Fork </li>
	<li>Safe Work Load: 550 ST</li>
	<li>  Chain Locker: 4.130 Cu.Ft </li>
</ul>
<strong>Vessel's Mooring</strong>
<ul>
	<li>Windlass ( Hydraulic): Braltaag B12-S4</li>
	<li> Anchors: 2.205 Lbs</li>
	<li>   Chain ( per side): 2.460 FL of 1.33 inch</li>
	<li> Capstone :Yes </li>
	<li>Line Pull: 22.000 Lbs</li>
</ul>
<strong>Accommodations</strong>
<ul>
<li>Staterooms: (10)1-Man/(1)2-Man/(1)7-Man</li>
<li> Hospital: Yes</li>
<li>Air Condition / Skating: Yes</li></ul>
<strong>Special Equipment</strong>
<ul>
<li>Fire Fighting: 5.260 GPM@Ft</li>
<li>Joystick Controls: Yes </li>
</ul>
<strong>Registration</strong>
<ul>
	<li>Flag: Sierra Leone</li>
	<li>Home Port: Sierra Leone</li>
	<li>Office Number: SL102197</li>
	<li>Call Sign: 9LB2341</li>
	<li>  Builder: Husumer Schiffswerft </li>
	<li>Hull Number: 1478</li>
	<li>Year Built: 1982</li>
	<li>Tonnage: 855 GRT 366 NRT</li>
	<li>Class: ABS:A1;AMS</li>
</ul>