<legend>Shroock El Karim</legend>
<div><p align="center"><img src="/assets/shroock001.jpg"></p>
	<br>
<p><strong><span style="text-decoration: underline;">* PARTICULAR</span></strong></p>
<table style="width: 755px;" dir="rtl" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td width="280">
<p dir="ltr">MAX. 8 PERSONS, MIN. 4 PERSONS</p>
<p dir="ltr">In addition to &nbsp;12 passengers</p>
</td>
<td width="228">
<p dir="ltr">CREW COMPLEMENT</p>
</td>
<td width="144">
<p dir="ltr">EGYPT</p>
</td>
<td width="104">
<p dir="ltr">FLAG</p>
</td>
</tr>
<tr>
<td width="280">
<p dir="ltr">1994&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; REBUILT   2007</p>
</td>
<td width="228">
<p dir="ltr">YEAR OF BUILT</p>
</td>
<td width="144">
<p dir="ltr">28.60 M</p>
</td>
<td width="104">
<p dir="ltr">LOA</p>
</td>
</tr>
<tr>
<td width="280">
<p dir="ltr">WONSAN SHIPYARD KOREA</p>
</td>
<td width="228">
<p dir="ltr">PLACE OF BUILT</p>
</td>
<td width="144">
<p dir="ltr">26 M</p>
</td>
<td width="104">
<p dir="ltr">LBP</p>
</td>
</tr>
<tr>
<td width="280">
<p dir="ltr">10 KNOT</p>
</td>
<td width="228">
<p dir="ltr">SPEED</p>
</td>
<td width="144">
<p dir="ltr">6.20 M</p>
</td>
<td width="104">
<p dir="ltr">BREADTH</p>
</td>
</tr>
<tr>
<td width="280">
<p dir="ltr">40 T</p>
</td>
<td width="228">
<p dir="ltr">FUEL OIL</p>
</td>
<td width="144">
<p dir="ltr">2.90 M&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
</td>
<td width="104">
<p dir="ltr">DEPTH</p>
</td>
</tr>
<tr>
<td width="280">
<p dir="ltr">30 T</p>
</td>
<td width="228">
<p dir="ltr">FRESH WATER</p>
</td>
<td width="144">
<p dir="ltr">2.00 M</p>
</td>
<td width="104">
<p dir="ltr">DRAFT</p>
</td>
</tr>
<tr>
<td width="280">
<p dir="ltr">80 M2</p>
</td>
<td width="228">
<p dir="ltr">DECK AREA</p>
</td>
<td width="144">
<p dir="ltr">121 T</p>
</td>
<td width="104">
<p dir="ltr">GT</p>
</td>
</tr>
<tr>
<td width="280">
<p dir="ltr">30 T</p>
</td>
<td width="228">
<p dir="ltr">DECK CARGO</p>
</td>
<td width="144">
<p dir="ltr">60 T</p>
</td>
<td width="104">
<p dir="ltr">NET</p>
</td>
</tr>
</tbody>
</table>
<p><strong><span style="text-decoration: underline;">* MACHINERIES &amp; EQUIPMENTS </span></strong></p>
<table style="height: 530px;" dir="rtl" border="1" cellspacing="0" cellpadding="0" align="left">
<tbody>
<tr>
<td width="94">
<p dir="ltr">2   UNITS</p>
</td>
<td width="317">
<p dir="ltr">1500 HP G.M</p>
</td>
<td width="282">
<p dir="ltr">MAIN ENGINE</p>
</td>
<td valign="top" width="35">
<p dir="ltr">1</p>
</td>
</tr>
<tr>
<td width="94">
<p dir="ltr">2   UNITS</p>
</td>
<td width="317">
<p dir="ltr">50 KW, 1500 RPM</p>
</td>
<td width="282">
<p dir="ltr">GENERATOR</p>
</td>
<td valign="top" width="35">
<p dir="ltr">2</p>
</td>
</tr>
<tr>
<td width="94">
<p dir="ltr">1   UNIT</p>
</td>
<td width="317">
<p dir="ltr">Q= 4 M <sup>3</sup> / H, H= 0.4 MPA</p>
</td>
<td width="282">
<p dir="ltr">FRESH WATER PUMP</p>
</td>
<td valign="top" width="35">
<p dir="ltr">3</p>
</td>
</tr>
<tr>
<td width="94">
<p dir="ltr">1   UNIT</p>
</td>
<td width="317">
<p dir="ltr">Q= 4 M <sup>3</sup> / H, H= 0.4 MPA</p>
</td>
<td width="282">
<p dir="ltr">SEA WATER PUMP</p>
</td>
<td valign="top" width="35">
<p dir="ltr">4</p>
</td>
</tr>
<tr>
<td width="94">
<p dir="ltr">1   UNIT</p>
</td>
<td width="317">
<p dir="ltr">Q= 25 M <sup>3</sup> / H, H= 0.14 MPA</p>
</td>
<td width="282">
<p dir="ltr">SEWAGE PUMP</p>
</td>
<td valign="top" width="35">
<p dir="ltr">5</p>
</td>
</tr>
<tr>
<td width="94">
<p dir="ltr">1   UNIT</p>
</td>
<td width="317">
<p dir="ltr">Q= 25 M <sup>3</sup> / H, H= 0.14 MPA</p>
</td>
<td width="282">
<p dir="ltr">BLIGE PUMP</p>
</td>
<td valign="top" width="35">
<p dir="ltr">6</p>
</td>
</tr>
<tr>
<td width="94">
<p dir="ltr">1   UNIT</p>
</td>
<td width="317">
<p dir="ltr">Q= 25 M <sup>3</sup> / H, H= 0.25 MPA</p>
</td>
<td width="282">
<p dir="ltr">DRY PUMP FOR PISTON</p>
</td>
<td valign="top" width="35">
<p dir="ltr">7</p>
</td>
</tr>
<tr>
<td width="94">
<p dir="ltr">1   UNIT</p>
</td>
<td width="317">
<p dir="ltr">Q= 300 L / H</p>
</td>
<td width="282">
<p dir="ltr">WATER BOLLING HEATER</p>
</td>
<td valign="top" width="35">
<p dir="ltr">8</p>
</td>
</tr>
<tr>
<td width="94">
<p dir="ltr">2&nbsp; UNITS</p>
</td>
<td width="317">
<p dir="ltr">Q= 2500 M <sup>3</sup> / H, H= 0. 4 MPA</p>
</td>
<td width="282">
<p dir="ltr">FAN FOR ENGINE ROOM</p>
</td>
<td valign="top" width="35">
<p dir="ltr">9</p>
</td>
</tr>
<tr>
<td width="94">
<p dir="ltr">1   UNIT</p>
</td>
<td width="317">
<p dir="ltr">Q= 2500 M <sup>3</sup> / H, H= 0.4 MPA</p>
</td>
<td width="282">
<p dir="ltr">FAN FOR GALLEY</p>
</td>
<td valign="top" width="35">
<p dir="ltr">10</p>
</td>
</tr>
<tr>
<td width="94">
<p dir="ltr">1   UNIT</p>
</td>
<td width="317">
<p dir="ltr">Q= 3200 M <sup>3</sup> / H, H= 1 MPA</p>
</td>
<td width="282">
<p dir="ltr">FAN FOR ACCOMMODATION</p>
</td>
<td valign="top" width="35">
<p dir="ltr">11</p>
</td>
</tr>
<tr>
<td width="94">
<p dir="ltr">2&nbsp; UNITS</p>
</td>
<td width="317">
<p dir="ltr">V= 40L P= 15 MPA</p>
</td>
<td width="282">
<p dir="ltr">CO2 FIRE PROTECTOR</p>
</td>
<td valign="top" width="35">
<p dir="ltr">12</p>
</td>
</tr>
<tr>
<td width="94">
<p dir="ltr">1   UNIT</p>
</td>
<td width="317">
<p dir="ltr">Q= 11 M<sup>3</sup> / H, H= 1.0 MPA</p>
</td>
<td width="282">
<p dir="ltr">LUB. OIL PUMP</p>
</td>
<td valign="top" width="35">
<p dir="ltr">13</p>
</td>
</tr>
<tr>
<td width="94">
<p dir="ltr">1   UNIT</p>
</td>
<td width="317">
<p dir="ltr">Q= 0.8 L / R&nbsp;&nbsp;&nbsp; H= 10 MPA</p>
</td>
<td width="282">
<p dir="ltr">SPENT OIL MANUAL PUMP</p>
</td>
<td valign="top" width="35">
<p dir="ltr">14</p>
</td>
</tr>
<tr>
<td width="94">
<p dir="ltr">1   UNIT</p>
</td>
<td width="317">
<p dir="ltr">Q= 1500L/H&nbsp;&nbsp;   H=0.35 MPA</p>
</td>
<td width="282">
<p dir="ltr">OIL SEPERATOR</p>
</td>
<td valign="top" width="35">
<p dir="ltr">15</p>
</td>
</tr>
<tr>
<td width="94">
<p dir="ltr">1   UNI</p>
</td>
<td width="317">
<p dir="ltr">Q= 25 M<sup>3</sup> / H, H= 0.65 MPA</p>
</td>
<td width="282">
<p dir="ltr">SPARE COOLING PUMP</p>
</td>
<td valign="top" width="35">
<p dir="ltr">16</p>
</td>
</tr>
<tr>
<td width="94">
<p dir="ltr">1   UNIT</p>
</td>
<td width="317">
<p dir="ltr">Q= 0.8 L/R&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; H= 10MPA</p>
</td>
<td width="282">
<p dir="ltr">SPARE MANUAL OIL PUMP</p>
</td>
<td valign="top" width="35">
<p dir="ltr">17</p>
</td>
</tr>
<tr>
<td width="94">
<p dir="ltr">1   UNIT</p>
</td>
<td width="317">
<p dir="ltr">Q= 10 M<sup>3</sup> / H, H= 5.83 MPA</p>
</td>
<td width="282">
<p dir="ltr">SPARE AIR COMPRESSOR</p>
</td>
<td valign="top" width="35">
<p dir="ltr">18</p>
</td>
</tr>
<tr>
<td width="94">
<p dir="ltr">1   UNIT</p>
</td>
<td width="317">
<p dir="ltr">Q= 2500 M<sup>3</sup> / H, H= 0.4 MPA</p>
</td>
<td width="282">
<p dir="ltr">AXIAL FAN FOR ENGINE</p>
</td>
<td valign="top" width="35">
<p dir="ltr">19</p>
</td>
</tr>
<tr>
<td valign="top" width="94">
<p dir="ltr">&nbsp;</p>
</td>
<td width="317">
<p dir="ltr">40 MILES&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; REY MARINE</p>
</td>
<td width="282">
<p dir="ltr">RADAR</p>
</td>
<td valign="top" width="35">
<p dir="ltr">20</p>
</td>
</tr>
<tr>
<td width="94">
<p dir="ltr">1   UNIT</p>
</td>
<td width="317">
<p dir="ltr">REY MARIN</p>
</td>
<td width="282">
<p dir="ltr">ECHO SOUNDER</p>
</td>
<td valign="top" width="35">
<p dir="ltr">21</p>
</td>
</tr>
<tr>
<td width="94">
<p dir="ltr">1   UNIT</p>
</td>
<td valign="top" width="317">
<p dir="ltr">&nbsp;</p>
</td>
<td width="282">
<p dir="ltr">COMPASS</p>
</td>
<td valign="top" width="35">
<p dir="ltr">22</p>
</td>
</tr>
<tr>
<td width="94">
<p dir="ltr">2   UNITS</p>
</td>
<td width="317">
<p dir="ltr">REY MARINE</p>
</td>
<td width="282">
<p dir="ltr">V.H.F</p>
</td>
<td valign="top" width="35">
<p dir="ltr">23</p>
</td>
</tr>
<tr>
<td width="94">
<p dir="ltr">1 UNIT</p>
</td>
<td width="317">
<p dir="ltr">REY MARINE</p>
</td>
<td width="282">
<p dir="ltr">G.P.S.</p>
</td>
<td valign="top" width="35">
<p dir="ltr">24</p>
</td>
</tr>
</tbody>
</table>
<p style="text-align: left;">&nbsp;</p>
<p align="center"><img src="/assets/csWhite.gif"></p>
<p style="text-align: left;" dir="ltr"><strong><span style="text-decoration: underline;">* Transfer Rates</span></strong></p>
<table style="width: 647px; text-align: left;" dir="rtl" border="1" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td width="329">
<p dir="ltr">45 M <sup>3</sup> / Hr @ 40 M Head</p>
</td>
<td width="293">
<p dir="ltr">Fuel</p>
</td>
<td width="25">
<p>1</p>
</td>
</tr>
<tr>
<td width="329">
<p dir="ltr">45 M <sup>3</sup> / Hr @ 40 M Head</p>
</td>
<td width="293">
<p dir="ltr">Fresh Water</p>
</td>
<td width="25">
<p dir="ltr">2</p>
</td>
</tr>
</tbody>
</table>
<p style="text-align: left;">&nbsp;</p>
<p style="text-align: left;"><strong><span style="text-decoration: underline;">* FIRE FIGHTING &amp; ANTI POLLUTION</span></strong><strong>&nbsp;</strong></p>
<table style="width: 645px; text-align: left;" dir="rtl" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top" width="489">
<p dir="ltr">1 UNIT CAPACITY 800 M<sup>3</sup>&nbsp;   / HR AT 80 M HEAD WITH&nbsp; ONE   MOINTOR 12000 M/ MIN ON&nbsp; DECK</p>
</td>
<td width="156">
<p dir="ltr">PUMP</p>
</td>
</tr>
<tr>
<td valign="top" width="489">
<p dir="ltr">1 UNIT CAPACITY   300 M<sup>3</sup>/ HR AT 40   M HEAD</p>
</td>
<td width="156">
<p>PUMP</p>
</td>
</tr>
<tr>
<td valign="top" width="489">
<p dir="ltr">1 UNIT ON   WHEELHOUSE TOP CAPACITY 9000 LITRES/ MIN</p>
</td>
<td width="156">
<p>MONITORS</p>
</td>
</tr>
<tr>
<td valign="top" width="489">
<p dir="ltr">7000 LITRES</p>
</td>
<td width="156">
<p>SPRAY BOOMS</p>
</td>
</tr>
<tr>
<td valign="top" width="489">
<p dir="ltr">2&nbsp; × 5 M EACH</p>
</td>
<td width="156">
<p>DISPERANT TANK</p>
</td>
</tr>
</tbody>
</table></div>